.idea
.DS_Store
.vagrant
.plus.yml

composer.lock


data
eth
log
logs
lab
parse/node_modules
hash/node_modules
fuel-web3-provider
web3-hdwallet-provider
.env
parse.env

hash
app/node_modules
dice

logs
*.log
**/node_modules
*.env
**/.env

0x
cccc