.idea
.DS_Store
.vagrant
.plus.yml

composer.lock
yarn.lock
db
data
log
logs
lab
parse/node_modules
hash/node_modules
.env
parse.env
hash
app/node_modules
dice

logs
*.log
**/node_modules
*.env
**/.env