
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
      * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
      * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
      * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
        * Enable inline JS: add 'unsafe-inline' to default-src
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">

    <meta name="theme-color" content="#007aff">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Lrc持仓分红计算</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css"/>

    <!-- built styles file will be auto injected -->
</head>

<body>

<div id="app">



    <van-cell-group>
        <van-cell>
            <img src="./banner.png" width="100%"/>

        </van-cell>
        <van-cell>
            <a href="https://blogs.loopring.org/longterm-incentive-plan/" target="_blank">关于路印长期锁仓计划的说明</a>
        </van-cell>
        <van-cell>
            <van-cell-group>
                <van-field
                        v-model="amount"
                        center
                        clearable
                        label="持仓数量"
                        @focus="success=false"
                        type="number"

                        loading-text="计算中"
                        placeholder="0"
                >
                    <van-button slot="button"   size="small" @click="getBonus" type="primary" size="large">计算 </van-button>
                </van-field>
            </van-cell-group>
        </van-cell>

        <van-cell v-show="success">
            <van-col span="10">锁仓数量：{{ amount }}</van-col>
            <van-col span="14">解锁奖励：{{ bonus }}</van-col>
            <van-col span="14">赎回数量：{{ count }}</van-col>
            <van-col span="14">回报率：{{ rate }}</van-col>
        </van-cell>
        <van-cell v-show="load">
            计算中……
        </van-cell>

    </van-cell-group>

</div>


</div>

<!-- import script -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const ajax = axios.create({

        baseURL: '',
        headers:{
            'Content-Type':'application/x-www-form-urlencoded;charset=UTF-8'
        },

    });

    new Vue({
        data: {
            amount: "",
            result: 0,
            bonus: 0,
            checked: true,
            success: false,
            load: false
        },
        computed: {
            // 计算属性的 getter
            count: function () {
                return parseInt(this.amount) + parseInt(this.bonus)
            },
            rate: function () {
                return (parseInt(this.bonus) / parseInt(this.amount) * 100).toFixed(2) + "%"
            }
        },
        methods: {
            getBonus: async function (event) {
                this.success = false;
                this.load = true;
                const response = await ajax.get('/api/lrc?value=' + this.amount);
                this.bonus = response.data.data
                this.success = true;
                this.load = false;

            },

        }
    }).$mount("#app");


</script>
</body>
</html>